[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "ext/DirectXHelper"]
	path = ext/DirectXHelper
	url = https://github.com/ScaredHD/DirectXHelper
	branch = refactor
